@import '02-variables.less';
@import '02-mixins.less';

.p-spring-2015, .p-spring-2015 .page { background-image: url(/a/img/lp/bg-valentine.png); }

.p-spring-2015 {

    .page { max-width: 720px; }

    /* Header */
    .doc-header {
        background-position: 0 0;
        background: rgba(255, 255, 255, .08);
        height: 72px;

        NAV { // Third column
            float: none;
            position: absolute;
            top: 24px;
            right: 20px;
            width: 170px;

            .nav {
                .mm-label { padding: 6px 7px; }

                .mm-sample:hover .mm-label, .mm-sample:focus .mm-label, .mm-sample:active .mm-label { background-color: @purple; }
            }
        } // NAV
    } // .doc-header

    .nameplate { // First column
        float: none;
        text-align: center;
        position: relative;
        padding: 0 0 0;
        width: 100%;
        *zoom: 1;

        &:hover { text-decoration: none; }

        H2 {
            text-align: left;
            position: absolute;
            top: 30px;
            left: 20px;
            padding: 0;
        }

        H1 {
            font-size: 26/@b*100%;
            padding: 25px 0 0;
            position: relative;
            *zoom: 1;
        }

        .smiley {
            .inline-block();
            font-size: 18/26*100%;
            margin: -10px 0 0 2px;
            vertical-align: middle;
            position: static;
        }

    } // Nameplate


    /* BILLBOARD */
    .billboard {
        text-align: left;

        .hgroup { padding-bottom: @baseline / 4 * 3; }

        H2, .hgroup H3 { color: #FFF;}

        H2 {
            font-size: 42/@b*100%;
            font-weight: bold;
        }

        .hgroup H3 {
            font-family: @font-sans;
            font-size: 26/@b*100%;
            font-weight: 200;
            margin-top: 0;
            padding-bottom: 19em / @h1;
        }
    } // billboard

    /* Main pic */
    .box-main-pic {
        FIGURE {
            height: 268px; // Sinse it's not image we can't make it responsive
            width: 197px; }
        }

    .doc-footer { padding-bottom: 0; }
}

/*
|---------------------------------------
| Modal box
|---------------------------------------
*/

@modal-md:                  640px;

@mb-margin-top:             60px;
@mb-padding:                22px 40px 66px;
@mb-padding-mob:            0 40px 0 20px;

@mb-close-top:              14px;
@mb-close-right:            20px;
@mb-close-bg-position:      -150px 0;
@mb-close-dimension:        24px;

// Overlay
@modal-backdrop-bg:         #000; // 2
@modal-backdrop-opacity:    64;



// Body class for killing the scroll
.modal-open { overflow: hidden; }

/* .modal-box is just a container that centered real modal box */
.modal-box {
    -webkit-overflow-scrolling: touch;
    display: none;
    text-align: center;
    overflow-y: scroll;
    overflow: auto;
    // Prevent Chrome on Windows from adding a focus outline
    outline: 0;
    .fixed-on-top;
    right: 0;
    bottom: 0;
    left: 0;
    .height-100p;
    width: 100%;
    z-index: 444;

    // Real Modal Box
    .mb-body {
        background: #FFF;
        .border-radius(24px);
        text-align: left;
        margin: @mb-margin-top auto 0;
        overflow-y: auto;
        padding: @mb-padding;
        position: relative;
        max-height: 64%;
        _height: 21 * @bl + 0px; // 462px
        width: @modal-md;
        *zoom: 1;
    }

    H2 {
        text-shadow:0 1px 0 rbga(255, 255, 255, .4);
        margin: 0;
        padding: 0 20px 0 0;
    }

    // There are resets in buttons.less
    .btn-close {
        background-position: @mb-close-bg-position;
        background-color: transparent;
        border: 0;
        cursor: pointer;
        padding: 0;
        position: absolute;
        top: @mb-close-top;
        right: @mb-close-right;
        height: @mb-close-dimension;
        width: @mb-close-dimension;
        z-index: 2;
    }

}

// Overlay
.overlay {
    background: @modal-backdrop-bg;
    display: none;
    .opacity(@modal-backdrop-opacity);
    .fixed-on-top;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 440;
}

/*
|---------------------------------------
| High resolution devices
|---------------------------------------
*/
 @media print,
        (-o-min-device-pixel-ratio: 5/4),
        (-webkit-min-device-pixel-ratio: 1.25),
        (min-resolution: 120dpi) {


}


/*
|-------------------------------------------------------------------------------
| PORTRAIT TABLETS: 768–979px
|-------------------------------------------------------------------------------
*/

@media only screen and (min-width: 768px) and (max-width: 979px) {
}


/*
|-------------------------------------------------------------------------------
| PHONES & SMALL PORTRAIT TABLETS: up to 767px
|-------------------------------------------------------------------------------
*/

@media only screen and (max-width: 767px) {
    .modal-box {
        padding: 10px;

        .mb-body {
            margin: 0;
            padding: 22px 20px;
            max-height: none;
            height: auto;
            width: 100%;
        }

        .btn-close { right: 10px; }
    }
}
