/*
@baseline = 1.706em
@txt-note: #8d9094;

font-family is Redundant Rule in Epub Styles
font-size for body also

color, heading size, margins, paddings, body line-height are ok

*/

/*
|-------------------------------------------------------------------------------
| TMP
|-------------------------------------------------------------------------------
*/
HTML { text-align: center; }
BODY {
    max-width: 44em;
    margin: 0 auto;
}


/*
|-------------------------------------------------------------------------------
| Page
|-------------------------------------------------------------------------------
*/

HTML {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-rendering: optimizeLegibility !important;
}

BODY {
    color: #292c30;
    font: 106.3% / 1.706 'Times New Roman', Times, serif; /*17px / 29px*/
    text-align: left;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*
|------------------------------------------------------------------------------
| Headings
|-------------------------------------------------------------------------------
*/

H1, H2, H3, H4, H5, H6 { margin: 0; }

/* Book Title, Part Title, Chapter Title */
H1, H2 {
    /*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
    font-weight: normal;
    letter-spacing: -.02em;
}

H1 {
    font-size: 188.2%;
    line-height: .906;
    padding: 1.031em 0 1.094em;
}

H2 {
    font-size: 129.4%;
    line-height: 1.318;
    padding: 2.591em 0 1.409em;
}

H3, H4, H5, H6 {
    font-size: 100%;
    padding: 1.706em 0 0;
}

H6 { color: #8d9094; }  /*color: #0099bf;*/


/*
|-------------------------------------------------------------------------------
| Body
|-------------------------------------------------------------------------------
*/

A {
    color: #06C;
    text-decoration: none
}

A:visited { color: #606;}

A:hover {
    color: #093;
    text-decoration: underline
}

A:link { -webkit-tap-highlight-color: transparent; }

BLOCKQUOTE {
    font-style: italic;
    margin: 0 0 1.706em;
    padding: 0;
    position: relative;
}
    BLOCKQUOTE P { margin: 1.706em 0 0; }
    BLOCKQUOTE P:first-of-type, BLOCKQUOTE P:last-of-type { margin: 0; }
    BLOCKQUOTE P:last-of-type { color: #8d9094; }
    BLOCKQUOTE + HR { display: none; }

DL, DD { margin: 0 0 1.706em; }

DT {
    font-weight: bold;
    margin: 0;
}

HR {
    border: 0;
    border-top: 1px solid #d2d5d9;
    clear: both;
    display: block;
    margin: 2.412em 0 3.118em;
    padding: 0;
    height: 1px
}

OL {
    list-style: decimal;
    list-style-position: inside;
    margin: 0 0 1.706em;
    padding: 0;
}

    #footnotes {
        border-top: 1px solid #d2d5d9;
        color: #8d9094;
        margin-top: 4.5em;
        padding: 1em 0 0 1.706em;
    }

    #footnotes P { text-indent: 0;}

UL {
    list-style-position: outside;
    margin: 0 0 1.706em;
    padding: 0;
}

    LI UL, LI OL {
        margin-bottom: 0;
        padding-left: 20px;
    }

P { margin: 0; }

    P + P {
        margin: 0;
        text-indent: 1.706em;
    }



/*
|-------------------------------------------------------------------------------
| Media
|-------------------------------------------------------------------------------
*/

FIGURE {
    margin: 0 0 1.706em;
    min-width: 100%;
}

    FIGCAPTION {
        color: #8d9094;
        padding: 1.706em 0 0;
    }

    IMG {
        border: 0;
        display: block;
        -ms-interpolation-mode: bicubic;
        margin: 0 0 1.706em;
        height: auto;
        max-width: 100%;
    }

        FIGURE IMG { margin-bottom: 0; }

DIV.cover, FIGURE.cover { text-align: center; }

IMG.cover {
    margin: 0;
    vertical-align: middle;
    max-height: 100%;
}

VIDEO { text-align: center; }

/*
|-------------------------------------------------------------------------------
| Animation
|-------------------------------------------------------------------------------
*/

@keyframes highfade {
    0% {
        background-color: none;
    }
    20% {
        background-color: yellow;
    }
    100% {
        background-color: none;
    }
}

@-webkit-keyframes highfade {
    0% {
        background-color: none;
    }
    20% {
        background-color: yellow;
    }
    100% {
        background-color: none;
    }
}

a:target, ol#footnotes li:target, sup a:target  {
    animation-name: highfade;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    -webkit-animation-name: highfade;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
}
