/* 
Tones:
9% — #EBEEF2 / rgb(235, 238, 242)
12% — #E4E7EB / rgb(228, 231, 235)
15% — #DEE1E5 / rgb(222, 225, 229)
24% — #CCCFD3 / rgb(204, 207, 211)
30% - #BFC2C6 / rgb(191, 194, 198)
 */

/*	==================================================
	Variables
	==================================================	*/

.doc-header .label, .doc-header .menu LI A,
.pagination .current A, .pagination .disabled SPAN, .pagination .disabled A, .pagination .disabled A:hover
{ color: #535659; }

FIGCAPTION, /* .help-block, */ .help, .note, SMALL, TIME
{ color: #888B8F; }

BLOCKQUOTE, .box, .doc-header .menu UL, .pagination A:hover, .pagination .current A, TR:nth-child(even)
{ background: #EBEEF2; }

.doc-header .menu UL, .pagination A,
/* INPUT[type="text"], — die6 */ INPUT.txt, .txt INPUT, SELECT, TABLE, TEXTAREA
{ border: 1px solid #CCCFD3; }

/*	==================================================
	Snips
	==================================================	*/

.doc-header H1 A, I.co, .warning-gl EM {
	background: transparent url(/a/img/base-graphics.png) no-repeat;
	border: 0;
	display: block;
	direction: ltr;
	*line-height: 0;
	text-align: left;
	text-indent: -4000em;
	overflow: hidden; }
	
	/* Advanced image replacement */
	.doc-header H1 A:before, I.co:before, .warning-gl EM:before {
    	content: '';
    	display: block;
    	height: 100%;
		width: 0; }

.box {
	margin-bottom: 20px;
	margin-bottom: 2rem; }

.box HEADER { 
	background-color: #E3E6EA;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#EBEEF2), to(#E3E6EA));
	background-image: -webkit-linear-gradient(top, #EBEEF2, #E3E6EA);
	background-image: -moz-linear-gradient(top, #EBEEF2, #E3E6EA);
	background-image: -ms-linear-gradient(top, #EBEEF2, #E3E6EA);
	background-image: -o-linear-gradient(top, #EBEEF2, #E3E6EA);
	background-image: linear-gradient(top, #EBEEF2, #E3E6EA);
	background-repeat: repeat-x;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#EBEEF2', endColorstr='#E3E6EA');  /* IE6-7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#EBEEF2', endColorstr='#E3E6EA')"; /* IE8 */}

INPUT.txt, /*.i-uneditable, */ .i-search, SELECT, TEXTAREA {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px; }

ASIDE.left, ASIDE.right,
INPUT[type="text"], INPUT.txt, .txt INPUT, INPUT[type="checkbox"], INPUT[type="radio"], .i-search, TEXTAREA,
.warning-gl P  {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	*behavior: url(/a/js/boxsizing.htc); }