
.doc-header,.doc-body,.doc-footer,.cfx,.row{*zoom:1;}.doc-header:before,.doc-body:before,.doc-footer:before,.cfx:before,.row:before,.doc-header:after,.doc-body:after,.doc-footer:after,.cfx:after,.row:after{content:'';display:table;line-height:0;}
.doc-header:after,.doc-body:after,.doc-footer:after,.cfx:after,.row:after{clear:both;}
.left,.coverline,.tsr{float:left;}
.right{float:right;}
.doc-body{position:relative;padding-bottom:180px;*zoom:1;}
.row{margin-bottom:1.411764705882353em;width:100%;}
.col,.col-1of12,.col-1of6,.col-1of4,.col-1of3,.col-1of2,.col-2of3,.col-3of4,.col-full{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;*behavior:url(/a/js/boxsizing.htc);display:block;list-style:none;list-style-image:none;margin-bottom:0;position:relative;min-height:1px;*zoom:1;}
.col,.col-1of12,.col-1of6,.col-1of4,.col-1of3,.col-1of2,.col-2of3,.col-3of4{float:left;}
.col-1of6,.col-1of4,.col-1of3,.col-1of2,.col-2of3,.col-3of4,.col-full{padding:0 20px;}
.row [class*='span']:last-child{float:none;overflow:hidden;width:auto;}
.col-1of12{width:8.333333333333332%;*width:8.229166666666666%;}
.col-1of6{width:16.666666666666664%;*width:16.5625%;}
.col-1of4{width:25%;*width:24.895833333333332%;}
.col-1of3{width:33.33333333333333%;*width:33.229166666666664%;}
.col-1of2{width:50%;*width:49.895833333333336%;}
.col-2of3{width:66.66666666666666%;*width:66.5625%;}
.col-3of4{width:75%;*width:74.89583333333333%;}
.col-full{width:100%;}
.doc-main{width:75%;}.doc-main .col{width:80px;}
@media only screen and (min-width:768px) and (max-width:979px){.doc-body{padding-left:38px;padding-right:38px;}}@media only screen and (max-width:767px){.left,.right{max-width:50%;} .row{margin-bottom:1.2941176470588236em;} .col,.col-1of12,.col-1of6,.col-1of4,.col-1of3,.col-1of2,.col-2of3,.col-3of4{float:none;width:100%;} .coverline{float:left;width:49.861111111111114%;} .row .coverline:last-child{float:right;} .doc-body{padding:2.588235294117647em 0 1.2941176470588236em;} .doc-main{width:100%;}}
