
DL,DD{margin:0 0 1.5em;}
DT{font-weight:bold;margin:0;}
OL{list-style:decimal;margin:0 0 1.5em;padding:0 0 0 40px;}
UL{list-style-image:url(/a/img/b.gif);margin:0 0 1.5em;padding:0;*padding-left:40px;}
LI UL,LI OL{margin-bottom:0;padding-left:40px;}
NAV UL,NAV OL{list-style:none;list-style-image:none;margin:0;padding:0;}
OL.unstyled,UL.unstyled{padding-left:0;list-style:none;}
.inline{list-style:none;list-style-image:none;padding:0;}.inline LI{border-right:1px solid #d2d5d9;display:inline-block;*display:inline;*zoom:1;padding:0 10px 0 5px;}
.inline LI.last{border-right:0;padding-right:0;}
.list-view{list-style:none;list-style-image:none;padding:0;}.list-view LI{margin-bottom:1.5em;}
.m-local{border-bottom:1px solid #d2d5d9;padding:0 0 1.4375em;}.m-local LI{border-left:1px solid #d2d5d9;display:inline;padding:0 .3em 0 .6em;}
.m-local LI:first-child,.m-local .first{border-left:0 none;padding-left:0;}
HEADER .m-local{border-bottom:0;margin-bottom:0;padding-bottom:0;position:absolute;bottom:0;right:0;}
@media only screen and (max-width:767px){DL,DD,OL,UL,.list-view LI{margin-bottom:1.25em;} HEADER .m-local{margin-bottom:1.25em;position:static;}}
