DL, DD { margin: 0 0 1.25em; }

DT {
	font-weight: bold;
	margin: 0; }

OL {
	list-style: decimal;
	margin: 0 0 1.25em;
	padding: 0 0 0 40px; }

UL {
	list-style-image: url(/a/img/b.gif);
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	-webkit-padding-start: 0;
	margin: 0 0 1.25em;
	padding: 0 0 0 20px; }

UL UL, UL OL, OL OL, OL UL { margin-bottom: 0; }

NAV UL, NAV OL {
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0; }

.arj {
	list-style: none;
	list-style-image: none;
	padding: 0; }
	
	.arj LI { margin-bottom: 1.25em; }


/*	**************************************************
	!! BL SHIFT !!
	Tablets and desktops: 768px+
	**************************************************	*/

@media only screen and (min-width: 768px) {

DL, DD, OL, UL, .arj LI { margin-bottom: 1.5em; }

}