
FIGURE{margin:0 0 1.411764705882353em;}
FIGCAPTION{padding:1.411764705882353em 0 0;}
FIGURE.video{margin:2.4705882352941178em 0 2.588235294117647em;padding:30px 0 56.25%;position:relative;height:0;overflow:hidden;*zoom:1;}FIGURE.video EMBED,FIGURE.video IFRAME,FIGURE.video OBJECT{position:absolute;top:0;left:0;height:100%;width:100%;*width:expression(this.width > 440 ? 440: true) !important;}
IMG{margin:0 0 1.411764705882353em;}
FIGURE IMG{margin-bottom:0;}
IMG.left{float:left;margin:2px 20px 10px 0;}
IMG.right{float:right;margin:2px 0 10px 20px;}
FORM IMG{margin:0;}
I.co{background-position:;background-color:transparent;border-width:0;display:block;direction:ltr;text-align:left;text-indent:-4000em;overflow:hidden;}
SVG:not(:root){overflow:hidden;}
VIDEO{width:100% !important;}
@media only screen and (max-width:767px){FIGURE{margin-bottom:1.2941176470588236em;} FIGCAPTION{padding-top:1.2941176470588236em;} FIGURE.video{margin:2.1176470588235294em 0 2.235294117647059em;max-width:100%;} IMG{margin:0 0 1.2941176470588236em;}IMG .left,IMG .right{max-width:44%;}}
