FIGURE {
	-webkit-margin-before: 0;
	-webkit-margin-after: 1.25em;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	margin: 0 0 1.25em; }

	FIGCAPTION {
		padding: 24px 20px 0;
		padding: 2.4rem 20px 0; }

FIGURE.video {
	margin: 36px 0 38px;
	margin: 3.6rem 0 3.8rem;
	padding: 30px 0 56.25%;
	position: relative;
	height: 0;
	overflow: hidden;
	*zoom: 1; }

	FIGURE.video EMBED, FIGURE.video IFRAME, FIGURE.video OBJECT {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%; }

	FIGURE.video EMBED, FIGURE.video IFRAME, FIGURE.video OBJECT { _width: expression(this.width > 440 ? 440: true) !important; }

/* Fluid media requires that you remove the media's height and width attributes from the HTML */
IMG {
	border: 0;
	display: block;
	margin: 36px 0 44px;
	margin: 3.6rem 0 4.4rem;
	-ms-interpolation-mode: bicubic;
	vertical-align: middle;
	max-width: 100%; }
	
	FIGURE IMG { margin-bottom: 0; }

	IMG.left {
		float: left;
		margin: 2px 20px 10px 20px;
		max-width: 130px; }

	IMG.right {
		float: right;
		margin: 2px 20px 10px 20px;
		max-width: 130px; }

	FORM IMG { margin: 0; }

SVG:not(:root) { overflow: hidden; }

VIDEO { width: 100% !important; }


/*	**************************************************
	!! BL SHIFT !!
	Tablets and desktops: 768px+
	**************************************************	*/

@media only screen and (min-width: 768px) {

FIGURE { margin-bottom: 1.5em; }

	FIGCAPTION {
		padding: 30px 0 0;
		padding: 3rem 0 0; }

FIGURE.video { /* For 520px .doc-main width */
	margin: 42px 0 44px;
	margin: 4.2rem 0 4.4rem; }

IMG {
	margin: 42px 0 30px;
	margin: 4.2rem 0 3rem; }
	
	IMG.left { margin-left: 0; }

	IMG.right { margin-right: 0; }

}