.doc-footer {}


/*	**************************************************
	!! BL SHIFT !!
	Tablets and desktops: 768px+
	**************************************************	*/

@media only screen and (min-width: 768px) {

.doc-footer {
	margin: 0 0 0 -480px;
	position: absolute;
	bottom: 0;
	left: 50%;
	height: ;
	width: ; }

}