
.pagination{margin:2.375em 0 0.5em;}
.pagination UL{-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;display:inline-block;*display:inline;*zoom:1;}
.pagination LI{display:inline;}
.pagination A{border:1px solid #d2d5d9;border-left-width:0;float:left;line-height:42px;text-decoration:none;padding:0 17px;height:42px;}
.pagination A:hover,.pagination .current A{background:#f2f4f7;}
.pagination .current A,.pagination .disabled SPAN,.pagination .disabled A,.pagination .disabled A:hover{color:#47494c;cursor:default;}
.pagination .disabled SPAN,.pagination .disabled A,.pagination .disabled A:hover{background-color:transparent;}
.pagination LI:first-child A,.pagination LI:last-child A{text-indent:-4000em;position:relative;}
.pagination LI.first A{*zoom:expression(this.runtimeStyle.zoom="1", this.appendChild( document.createElement("span") ).className="before");}
.pagination LI.last A{*zoom:expression(this.runtimeStyle.zoom="1", this.appendChild( document.createElement("span") ).className="after");}
.pagination LI:first-child A:before,.pagination LI.first A .before,.pagination LI:last-child A:after,.pagination LI.last A .after{text-indent:0;position:absolute;top:0;left:40%;width:1em;}
.pagination LI:first-child A:before,.pagination LI.first A .before{content:'\00ab';}
.pagination LI:last-child A:after,.pagination LI.last A .after{content:'\00bb';}
.pagination LI:first-child A,.pagination .first A{border-left-width:1px;-webkit-border-radius:3px 0 0 3px;-moz-border-radius:3px 0 0 3px;border-radius:3px 0 0 3px;}
.pagination LI:last-child A,.pagination .last A{-webkit-border-radius:0 3px 3px 0;-moz-border-radius:0 3px 3px 0;border-radius:0 3px 3px 0;}
@media only screen and (max-width:767px){.pagination{margin:1.75em 0 0.25em 20px;}}
