@charset "UTF-8";
/*	==================================================
	Typography
	==================================================	*/

@font-face {
    font-family: 'Font Name Weight and Symbol Width';
    src: url('/a/type/font-name-weight-and-symbol-width.eot');
    src: url('/a/type/font-name-weight-and-symbol-width.eot?#iefix') format('embedded-opentype'),
    url('/a/type/font-name-weight-and-symbol-width.woff') format('woff'),
    url('/a/type/font-name-weight-and-symbol-width.ttf') format('truetype'),
    url('/a/type/font-name-weight-and-symbol-width.svg#FontName') format('svg');
    font-weight: normal; /* 100 - Thin, 300 - Light, 400 - Normal, 500 - Medium, 900 - Black */
    font-style: normal; }

@font-face {
    font-family: 'Font Name Weight and Symbol Width'; /* Bold — The same font-family */
    src: url('/a/type/font-name-bold-and-symbol-width.eot'); /* But files are others */
    src: url('/a/type/font-name-bold-and-symbol-width.eot?#iefix') format('embedded-opentype'),
    url('/a/type/font-name-bold-and-symbol-width.woff') format('woff'),
    url('/a/type/font-name-bold-and-symbol-width.ttf') format('truetype'),
    url('/a/type/font-name-bold-and-symbol-width.svg#FontName') format('svg');
    font-weight: bold;
    font-style: normal; }

@font-face { 
    font-family: 'Font Name Weight and Symbol Width'; /* Italic — The same font-family */
    src: url('/a/type/font-name-weight-and-symbol-width-italic.eot'); /* But files are others */
    src: url('/a/type/font-name-weight-and-symbol-width-italic.eot?#iefix') format('embedded-opentype'),
    url('/a/type/font-name-weight-and-symbol-width-italic.woff') format('woff'),
    url('/a/type/font-name-weight-and-symbol-width-italic.ttf') format('truetype'),
    url('/a/type/font-name-weight-and-symbol-width-italic.svg#FontName') format('svg');
    font-weight: normal;
    font-style: italic; }


ABBR[title], DFN[title] {
	border-bottom: 1px dotted;
	cursor: help; }

CODE, KBD, PRE, SAMP {
	font-family: monospace, serif;
	font-family: 'Courier New', monospace;
	font-size: 1em; }

DFN { font-style: italic; }

INS {
	background: #FF9;
	color: #000;
	text-decoration: none; }

MARK {
	background: #FF0;
	color: #000;
	font-style: italic;
	font-weight: bold; }

PRE { /*Prettify: google-code-prettify.googlecode.com and its implementation at twitter.github.com/bootstrap*/
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word; }

	.pre-scrollable {
		max-height: 340px;
		overflow-y: scroll; }

Q { quotes: none; }

Q:before, Q:after {
	content: '';
	content: none; }

/*	==================================================
	Media
	==================================================	*/

/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if they have been set as display: none */
IMG[src$=".gif"], gif-hidden {
	position: absolute;
	left: -100%; }

/*	==================================================
	Lists
	==================================================	*/
OL.chapter {
	list-style-type: none;
	list-style-position: outside; }

	OL.chapter LI {
		counter-increment: section;
		counter-reset: sub-section; }
	
	OL.chapter LI:before { content: counter(section) '. '; }
	
	OL.chapter OL LI {
		counter-increment: sub-section;
		counter-reset: none;
		list-style-type: none; }
	
	OL.chapter OL LI:before { content: counter(section) '.' counter(sub-section) '. '; }
	
	OL.chapter UL LI { counter-increment: none; }
	
	OL.chapter UL LI:before { content: normal; }

UL.inline {
	list-style-image: none;
	list-style-type: none; }

	UL.inline LI {
		display: inline;
		margin-left: .3em; }
	
	UL.inline LI:after { content: ","; }
	
	UL.inline .last:after { content: ""; }

/*
Need to check global implementation padding property

OL { *margin-left: 1.77em; }

.doc-main UL LI {
	*list-style-type: square;
	*margin-left: 16px; }

OL OL, UL OL, OL UL, UL UL { margin: 0 0 0 1.54em; }
*/

OL.unstyled, UL.unstyled {
	list-style: none;
	list-style-image: none;
	padding-left: 0; }

/*	==================================================
	Buttons
	==================================================	*/

/* Btn-coloring */
.btn-secondary {
	background-color: #EBEEF2;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#EBEEF2), to(#B8BBBF)); /* 20% gradient */
	background-image: -webkit-linear-gradient(top, #EBEEF2, #B8BBBF);
	background-image: -ms-linear-gradient(top, #EBEEF2, #B8BBBF);
	background-image: -o-linear-gradient(top, #EBEEF2, #B8BBBF);
	background-image: linear-gradient(top, #EBEEF2, #B8BBBF);
	background-image: -moz-linear-gradient(top, #EBEEF2, #B8BBBF);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#EBEEF2', endColorstr='#B8BBBF', GradientType=0);
 	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
	border: 1px solid #D2D5D9;
	border-color: #D2D5D9 #D2D5D9 #ABAEB2; /* Light gradient -10%; Dark gradient -5% */
	/* Create variable — body color */
	color: #535659 !important;
	text-shadow: 0 1px 1px rgba(255, 255, 255, .64); }

.btn-secondary:hover, .btn-secondary:active, .btn-secondary.active {
	background-color: #B8BBBF; }

.btn-warning {
	background-color: #F33;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F33), to(#900)); /* 40% gradient */
	background-image: -webkit-linear-gradient(top, #F33, #900);
	background-image: -ms-linear-gradient(top, #F33, #900);
	background-image: -o-linear-gradient(top, #F33, #900);
	background-image: linear-gradient(top, #F33, #900);
	background-image: -moz-linear-gradient(top, #F33, #900);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#F33', endColorstr='#900', GradientType=0);
 	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
	border: 1px solid #E51919;
	border-color: #E51919 #E51919 #8C0000; /* Light gradient -10%; Dark gradient -5% */ }

.btn-warning:hover, .btn-warning:active, .btn-warning.active {
	background-color: #900; }

.btn-success {
	background-color: #393;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#393), to(#060)); /* 20% gradient */
	background-image: -webkit-linear-gradient(top, #393, #060);
	background-image: -ms-linear-gradient(top, #393, #060);
	background-image: -o-linear-gradient(top, #393, #060);
	background-image: linear-gradient(top, #393, #060);
	background-image: -moz-linear-gradient(top, #393, #060);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#393', endColorstr='#060', GradientType=0);
 	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
	border: 1px solid #198019;
	border-color: #198019 #198019 #005900; /* Light gradient -10%; Dark gradient -5% */ }

.btn-success:hover, .btn-success:active, .btn-success.active {
	background-color: #060; }

/*	==================================================
	Forms
	==================================================	*/
.i-uneditable {
	background-color: #FFF;
	/* TODO — use inputs styling variables */
	border-color: #EEE;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
	cursor: default;
	cursor: not-allowed;
	white-space: nowrap;
	overflow: hidden; }

.ta-uneditable { width: auto; }

/* Input states ---------- */

.error .i-append .add-on, .error .i-prepend .add-on  {
	/* TODO — Create variable */
	background-color: #F2DEDE; }

.success .i-append .add-on, .success .i-prepend .add-on  {
	/* TODO — Create variable */
	background-color: #DFF0D8; }
	
.warning .i-append .add-on, .warning .i-prepend .add-on  {
	/* TODO — Create variable */
	background-color: #FCF8E3; }

/* Append & prepend inputs ---------- */	
.i-append, .i-prepend { margin-bottom: 5px; }

.i-append INPUT, .i-prepend INPUT, .i-append SELECT, .i-prepend SELECT, .i-append .i-uneditable, .i-prepend .i-uneditable {
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
	margin-bottom: 0;
	*margin-left: 0;
	position: relative;
	vertical-align: middle }

.i-append INPUT:focus, .i-prepend INPUT:focus, .i-append SELECT:focus, .i-prepend SELECT:focus,
.i-append .i-uneditable:focus, .i-prepend .i-uneditable:focus {
	z-index: 2; }

.i-append .i-uneditable, .i-prepend .i-uneditable {
	/* TODO — Use uneditable variable */
	border-left-color: #ccc; }

.i-append .add-on, .i-prepend .add-on {
	background-color: #EEE;
	/* TODO — Use input border variable */
	border: 1px solid #CCC;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	display: inline-block;
	font-weight: normal;
	line-height: 18px;
	text-align: center;
	text-shadow: 0 1px 0 #FFF;
	margin-left: -1px;
	padding: 4px 5px;
	vertical-align: middle;
	height: 18px;
	min-width: 16px;
	width: auto; }

.i-prepend .add-on { margin-right: -1px; }

.i-prepend .add-on:first-child {
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px; }

.i-append INPUT, .i-append SELECT, .i-append .i-uneditable {
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px; }

.i-append .i-uneditable {
	/* TODO — Use input border variable */
	border-right-color: #CCC;
	border-left-color: #EEE; }

.i-append .add-on:last-child {
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0; }

.f-inline .i-append, .f-search .i-append, .f-inline .i-prepend, .f-search .i-prepend { margin-bottom: 0; }

/* TODO — Delete these classes if they don't use */ 
.i-prepend.i-append INPUT, .i-prepend.i-append SELECT, .i-prepend.i-append .i-uneditable {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0; }

.i-prepend.i-append .add-on:first-child, .i-prepend.i-append .btn:first-child {
	margin-right: -1px;
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px; }

.i-prepend.i-append .add-on:last-child, .i-prepend.i-append .btn:last-child {
	margin-left: -1px;
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0; }

/* Help ---------- */	
.help-block { display: block; }

.f .help-block { margin-top: 9px; }

/*	==================================================
	Helpers
	==================================================	*/

/* Hide from both screenreaders and browsers */
.hidden {
	display: none !important;
	visibility: hidden; }

/* Hide only visually, but have it available for screenreaders */
.hidden-v {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px; }

/* Extends the .hidden-v class to allow the element to be focusable when navigated to via the keyboard */
.hidden-v.focusable:active, .hidden-v.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.hidden-plc { visibility: hidden; }

/*	==================================================
	Tablets and desktops: 768px+
	3 columns layout. 12 columns grid. Offsets
	==================================================	*/
@media only screen and (min-width: 768px) {
/* Layout / Grid ---------- */
/* 3 columns layout based on 960px .doc-body max-width and 640px .doc-main maximum width */

.doc-sidebar { /* 320 - 1/3 .doc-body */
	width: 33.33%; }

.doc-main { /* 640 - 2/3 .doc-body */
	width: 66.67%; }

	.doc-main .span1 { /* 80 — 1/8 .doc-main */
		width: 12.5%; }
	
	.doc-main .span2 { /* 160 — 1/4 .doc-main */
		width: 25%; }
	
	.doc-main .span4 { /* 320 — 1/2 .doc-main */
		width: 50%; }
	
	.doc-main .span6 { /* 480 - 3/4 .doc-main */
		width: 75%; }

/*
Offset and second [class*="span"]:last-child trick are mutually exclusive.
We should use the first (float: right) trick on pages with offseted columns.
The values ​​calculated for blocks outside the .doc-main container.
1 - 80px for 960px max-width
2 - 160
3 - 240
4 - 320
5 - 400
6 - 480
7 - 560
8 - 640
9 - 720
10 - 800 
11 - 880
12 - 960
 */
 
/* .row [class*="offset"], - die6 */
.offset1, .offset2, .offset3, .offset4,
.offset5, .offset6, .offset7, .offset8,
.offset9, .offset10, .offset11, .offset12
{ float: left !important}
 
.offset1 { margin-left: 8.33%; }
.offset2 { margin-left: 16.67%; }
.offset3 { margin-left: 25%; } /* QUARTERS - 1/4 */
.offset4 { margin-left: 33.33%; } /* THIRDS - 1/3 */
.offset5 { margin-left: 41.67%; }
.offset6 { margin-left: 50%; } /* QUARTERS - 1/2 */
.offset7 { margin-left: 58.33%; }
.offset8 { margin-left: 66.67%; } /* THIRDS - 2/3 */
.offset9 { margin-left: 75%; } /*  QUARTERS - 3/4 */
.offset10 { margin-left: 83.33%; }
.offset11 { margin-left: 91.67%; }
.offset12 { margin-left: 100%; }
}

/*	==================================================
	Large displays: 1382px+
	==================================================	*/
@media only screen and (min-width: 1382px) {
/* Page ---------- */
BODY { max-width: 1440px; }
.page { max-width: ; }
}