HTML, BODY {
    height: 100%
}
.p-spring-2015, .p-spring-2015 .page {
    background-image: url(/a/img/lp/bg-valentine.png)
}
.p-spring-2015 .doc-body {
    padding-bottom: 173px
}
.p-spring-2015 .page {
    min-height: 100%;
    height: auto;
*height:100%;
    max-width: 680px
}
.p-spring-2015 .doc-header {
    background-position: 0 0;
    height: 72px
}
.p-spring-2015 .doc-header NAV {
    float: none;
    position: absolute;
    top: 24px;
    right: 0;
    width: 170px
}
.p-spring-2015 .doc-header NAV .nav .mm-buy .mm-label {
    background-color: #25282c
}
.p-spring-2015 .doc-header NAV .nav .mm-download:hover .mm-label, .p-spring-2015 .doc-header NAV .nav .mm-download:focus .mm-label, .p-spring-2015 .doc-header NAV .nav .mm-download:active .mm-label, .p-spring-2015 .doc-header NAV .nav .mm-buy:hover .mm-label, .p-spring-2015 .doc-header NAV .nav .mm-buy:focus .mm-label, .p-spring-2015 .doc-header NAV .nav .mm-buy:active .mm-label {
    background-color: #19a6ff
}
.p-spring-2015 .nameplate {
    float: none;
    text-align: center;
    position: relative;
    padding: 0 0 0;
    width: 100%;
*zoom:1
}
.p-spring-2015 .nameplate:hover {
    text-decoration: none
}
.p-spring-2015 .nameplate H2 {
    text-align: left;
    position: absolute;
    top: 30px;
    left: 0;
    padding: 0
}
.p-spring-2015 .nameplate H1 {
    font-size: 152.94117647%;
    padding: 25px 0 0;
    position: relative;
*zoom:1
}
.p-spring-2015 .nameplate .smiley {
    display: inline-block;
*display:inline;
*zoom:1;
    font-size: 69.23076923%;
    margin: -10px 0 0 2px;
    vertical-align: middle;
    position: static
}

/*
|---------------------------------------
| Billboard
|---------------------------------------
*/

.p-spring-2015 .billboard {
    text-align: left
}
.p-spring-2015 .billboard .hgroup {
    padding: 0 0 2.529em 226px;
    position: relative;
*zoom:1
}
.p-spring-2015 .billboard .hgroup H3 {
    color: #66f2ff;
    font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
    font-size: 152.94117647%;
    font-weight: 200;
    margin-top: 0;
    padding: .731em 0 0
}
.p-spring-2015 .billboard H2 {
    color: #fff;
    font-size: 247.05882353%;
    line-height: 1.143;
    padding: 1.94em 0 0
}
.p-spring-2015 .billboard .txt-first {
    display: block
}
.p-spring-2015 .billboard H2 .txt-first {
    font-weight: bold
}
.p-spring-2015 A.a-cta:after {
    background-position: -300px -140px
}
.p-spring-2015 .box-main-pic {
    position: absolute;
    top: 55px;
    left: -9px
}
.p-spring-2015 .box-main-pic FIGURE {
    height: 268px;
    width: 197px
}

/*
|---------------------------------------
| CTA
|---------------------------------------
*/

.sec-cta, .sec-cta UL {
    list-style-image: none;
    list-style-type: none
}
.sec-cta {
    padding-top: 2.17647059em
}
.btn-prim A, .btn-sec A {
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
*behavior:url(/a/js/boxsizing.htc);
    display: block;
    font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
    font-size: 94.11764706%;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    padding-top: 0;
    height: 48px;
    width: 335px
}
.btn-prim {
    float: right
}
.btn-prim A {
    background-color: #4b9b1a;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a3ce62), color-stop(50%, #469817), to(#61a727));
    background-image: -webkit-linear-gradient(#a3ce62, #469817 50%, #61a727);
    background-image: -moz-linear-gradient(top, #a3ce62, #469817 50%, #61a727);
    background-image: -o-linear-gradient(#a3ce62, #469817 50%, #61a727);
    background-image: linear-gradient(#a3ce62, #469817 50%, #61a727);
    background-repeat: no-repeat;
filter:progid:DXImageTransform.Microsoft.Gradient(startColorstr=#a3ce62, endColorstr=#61a727, GradientType=0);
    border: 1px solid #408e1b;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.32), 0 1px 2px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.32), 0 1px 2px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.32), 0 1px 2px rgba(0, 0, 0, 0.08);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.32);
    padding-top: 10px
}
.btn-prim A:hover {
    background-color: #61a727;
    background-position: 0 -15px;
    -webkit-transition: background-position .2s linear;
    -moz-transition: background-position .2s linear;
    -o-transition: background-position .2s linear;
    transition: background-position .2s linear
}
.btn-prim A:hover .co {
    background-position: 0 -30px
}
.btn-prim .co {
    background: transparent url(/a/img/lp/ico-animated.gif) 0 0 no-repeat;
    display: inline-block;
*display:inline;
*zoom:1;
    margin: -4px .2em 0 0;
    vertical-align: middle;
    height: 30px;
    width: 30px
}
.btn-sec {
    float: left;
    position: relative;
*zoom:1
}
.btn-sec UL {
    display: inline-block;
*display:inline;
*zoom:1;
    padding: 2px 0 0;
    vertical-align: middle
}
.btn-sec A {
    border: 2px solid #19a6ff;
    color: #47494c;
    padding-top: 9px;
    -webkit-transition: background .2s linear;
    -moz-transition: background .2s linear;
    -o-transition: background .2s linear;
    transition: background .2s linear
}
.btn-sec A:hover, .btn-sec A:focus {
    background: #f2f4f7
}
.btn-sec .tooltip {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
    font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
    bottom: 5.57971014em;
    left: 0
}
.download-pay-w LI {
    background-color: transparent;
    border-width: 0;
    display: inline-block;
    direction: ltr;
    text-align: left;
    text-indent: -4000em;
    overflow: hidden;
*display:inline;
    margin-left: 12px;
    height: 18px;
    width: 18px;
*zoom:1
}
.btn-sec .download-pay-w-facebook {
    margin-left: 6px
}
.download-pay-w-twitter {
    background-position: -30px 0
}
.download-pay-w-google {
    background-position: -60px 0
}
.download-pay-w-vkontakt {
    background-position: 0 -80px
}

/*
|---------------------------------------
| Footer
|---------------------------------------
*/

.p-spring-2015 .doc-footer {
    text-align: center;
    margin: 0 0 0 -340px;
    padding: 0;
    height: 135px;
    width: 680px
}
.p-spring-2015 .doc-footer P, .p-spring-2015 .doc-footer UL, .p-spring-2015 .doc-footer H3 {
    display: inline-block;
*display:inline;
*zoom:1
}
.p-spring-2015 .doc-footer P, .p-spring-2015 .doc-footer H3 {
    color: #8a8c8f;
    font-weight: normal
}
.p-spring-2015 .doc-footer P {
    border-right: 1px solid #bbbec2;
    margin-right: 26px;
    padding-right: 30px
}
.p-spring-2015 .ftr-copyright {
    padding-left: 46px;
    width: auto
}
.p-spring-2015 .ftr-share {
    height: auto
}
.p-spring-2015 .ftr-share .fb {
    margin-right: .5em
}

/*
|---------------------------------------
| Modal box
|---------------------------------------
*/



/*
|---------------------------------------
| High resolution devices
|---------------------------------------
*/



/*
|-------------------------------------------------------------------------------
| PORTRAIT TABLETS: 768–979px
|-------------------------------------------------------------------------------
*/



/*
|-------------------------------------------------------------------------------
| PHONES & SMALL PORTRAIT TABLETS: up to 767px
|-------------------------------------------------------------------------------
*/


